<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ninja-running-e0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{202,246}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{605,257},{202,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ninja-running-e0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,4}</string>
                <key>spriteSize</key>
                <string>{154,242}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{1069,245},{154,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ninja-running-e0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,4}</string>
                <key>spriteSize</key>
                <string>{94,234}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{1521,245},{94,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ninja-running-e0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{130,242}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{1125,1},{130,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ninja-running-e0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,12}</string>
                <key>spriteSize</key>
                <string>{194,226}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{1,277},{194,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ninja-running-e0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,6}</string>
                <key>spriteSize</key>
                <string>{162,238}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{1257,1},{162,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ninja-running-e0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-4}</string>
                <key>spriteSize</key>
                <string>{102,250}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{853,1},{102,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ninja-running-e0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-2}</string>
                <key>spriteSize</key>
                <string>{146,254}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{477,1},{146,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ninja-sidekick-e0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{74,254}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{625,1},{74,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ninja-sidekick-e0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{98,242}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{1225,245},{98,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ninja-sidekick-e0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,2}</string>
                <key>spriteSize</key>
                <string>{122,230}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{1533,1},{122,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ninja-sidekick-e0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{130,218}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{1521,341},{130,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ninja-sidekick-e0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{170,242}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{897,253},{170,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ninja-sidekick-e0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,4}</string>
                <key>spriteSize</key>
                <string>{270,234}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{241,1},{270,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ninja-sidekick-e0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{266,230}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{337,273},{266,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ninja-sidekick-e0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,2}</string>
                <key>spriteSize</key>
                <string>{274,238}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{1,1},{274,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ninja-sidekick-e0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{166,242}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{957,1},{166,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ninja-sidekick-e0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{138,218}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{197,277},{138,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ninja-sidekick-e0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,0}</string>
                <key>spriteSize</key>
                <string>{110,234}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{1421,1},{110,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ninja-sidekick-e0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{86,246}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{809,257},{86,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ninja-sidekick-e0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{74,254}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{701,1},{74,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ninja-stopped0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{118,238}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{1325,241},{118,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ninja-stopped0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-12}</string>
                <key>spriteSize</key>
                <string>{74,234}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{1445,237},{74,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ninja-stopped0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{118,230}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{1533,125},{118,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ninja-stopped0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{74,254}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{777,1},{74,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ninja.pvr.ccz</string>
            <key>size</key>
            <string>{1764,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a261d51e385b004d6c40d240ad1c38a0:aed4bdbf8f85166d870d3956895df7fe:797bdd4809cf915b0f64e1ab5d8ff484$</string>
            <key>textureFileName</key>
            <string>ninja.pvr.ccz</string>
        </dict>
    </dict>
</plist>
